/**{
margin: 0;
padding: 0;
box-sizing: border-box;
}*/
.red-button {
  background-color: red;
  color: white;
  border: none;
}

.yellow-button {
  background-color: yellow;
}
.add-to-cart{
  background-color: yellow;
}
.buy-now{
  background-color: orange;
}