@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --BORDER-COLOR-1: #333;
  --BGCOLOR: #33333364;
  --BGCOLOR-FOCUS: #3333339b;
  --BORDER-RADIUS: 50px;
}

body{
  font-family: "Roboto";
  text-align: center;
  margin: 20px;
}

nav{
  max-width: 600px;
  font-size: 3rem;
  border: 1px solid var(--BORDER-COLOR-1);
  margin: 0.5em auto 00.5em;
  border-radius: var(--BORDER-RADIUS);
  box-shadow: 10px -10px 10px #888888;
}

h2{
  background-color: gold;
  border-radius: var(--BORDER-RADIUS) var(--BORDER-RADIUS) 0 0 ;
  padding: 0.2em;
}
ul{
  
  list-style-type: none;
}

li{
  border-top: 1px solid var(--BORDER-COLOR-1);
}
li a{
  text-decoration: none;
  background-color: var(--BGCOLOR);
  display: block;
  padding: 0.3em;
  color: whitesmoke;
}

li:last-child a{
  border-radius: 0 0 var(--BORDER-RADIUS) var(--BORDER-RADIUS);
}

li a:hover, li a:focus{
  background-color: var(--BGCOLOR-FOCUS);
  color: antiquewhite;
  cursor: pointer;
}