body {
  font-size: 22px;
}
h1,
h2 {
  color: blue;
}

p {
  color: purple;
}

p {
  color: brown;
}

button, input{
 font: inherit;
}

p span {
  text-transform: uppercase;
  background-color: gold;
}
.highlight {
  text-transform: uppercase;
  background-color: green;
}
.amitha {
  color: grey;
}
#second {
  font-style: italic;
}
